/* Intro class css */
.intro {
    background-color: rgb(178, 211, 207);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro img {
    border-radius: 100px;
    height: 200px;
    width: 200px;
}

.info-content {
    background-color: rgb(247, 250, 251);
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px;
    text-align: left;
    flex: 1;
    max-width: 800px;
    min-width: 500px;
}

.info-content h2 {
    margin: 0;
    padding: 0;
}

.info-content td {
    vertical-align: top;
}

.info-content h3 {
    margin: 0;
}

.info-content td p {
    margin: 0;
}

.info-content ol {
    margin: 0;
    padding-left: 20px;
}

aside {
    padding: 10px 20px;
    background-color: rgb(247, 250, 251);
    border-radius: 10px;
    width: 200px;
    font-style: italic;
}

/* Work class css */
.work {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: rgb(247, 250, 251);
}

.work-content {
    background-color: rgb(247, 250, 251);
    padding: 10px 20px;
    margin: 40px;
    max-width: 800px;
    min-width: 500px;
}

.resume {
    text-align: center;
    margin: 40px;
}

.resume iframe {
    border: 1px;
    border:1px solid black;
    height: 500px;
    width: 400px;
}


/* Skills class css */
.skills {
    background-color: rgb(178, 211, 207);
    text-align: center;
}

.skills h2 {
    margin: 0;
    padding: 20px;
}

.tables {
    display: flex;
    justify-content: center;
}

.tables table {
    background-color: white;
    padding: 10px;
    margin: 20px;
}

.tables caption {
    font-size: 1.2em;
    font-weight: bold;
    background-color: white;
    padding: 10px;
}

.tables th {
    color: #333;
    font-weight: bold;
    padding: 10px;
}

.tables td {
    padding: 10px;
}

.tables tr:nth-child(even) {
    background-color: #f2f2f2;
}

