main {
    background-color: rgb(247, 250, 251);
}

.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.videos video {
    margin: 0px 20px;
    width: 300px;
    height: 200px;
}

.video-description {
    margin: 0px 20px;
}