@import "styles.css";

main {
    background-color: var(--body-color, white);
}

.videos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
}

.videos video {
    margin: 0px 20px;
    width: 300px;
    /* min-width: 200px; */
    /* max-width: 300px; */
    filter: brightness(0.7);
}

.video-description {
    margin: 0px 20px;
    /* font-size: 20px; */
    font-size: 1.25rem;
    font-weight: 400;
}

/* Very Small Screens (Phone) */
@media screen and (max-width: 480px) {
    .videos {
        flex-direction: column;
    }

    .videos video {
        width: 200px;
    }
}

/* Tablets or Restrictive Laptops */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .videos {
        margin: 0px;
        padding: 10px;
    }

    .videos video {
        width: 150px;
    }

    .video-description {
        font-size: 1rem;
    }
}

/* Desktops */
@media screen and (min-width: 1025px) {
    
}