:root {
    --main-color: rgb(178, 211, 207);
    --body-color: rgb(247, 250, 251);
    --button-color: rgb(90, 186, 113);
    --fallback-button-color: rgb(171, 250, 189);
    --button-color-hover: rgb(69, 142, 86);
    --font-family: "Open Sans", sans-serif;
    --fallback-font: Arial, sans-serif;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    background-color: var(--main-color, white);
    margin: 0;
    font-size: 16px;
}

/* header h1 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    margin-top: 40px;
    padding-top: 60px;

} */

header h1 {
    text-align: center;
    font-family: var(--font-family, var(--fallback-font));
    font-size: 3.75rem; 
    margin-top: 2.5rem;
    padding-top: 3.75rem;
}

/* header h3 {
    text-align: center;
    font-family: var(--font-family, var(--fallback-font));
    font-weight: 400;
    font-size: 20px;
    margin: 0px;
    padding-bottom: 60px;
} */
header h3 {
    text-align: center;
    font-family: var(--font-family, var(--fallback-font));
    font-weight: 400;
    font-size: 1.25rem;
    margin: 0;
    padding-bottom: 3.75rem;
}


/* Style for the navigation bar */
header nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    /* padding: 10px 0px; */
    padding: 1rem 0;
    overflow: hidden;
}

/* Style for the navigation menu (ul) */
header nav ul {
    list-style-type: none;
    margin: 0;
    float: right;
}

/* Style for the navigation menu items (li) */
header nav ul li {
    display: inline;
    /* margin-right: 20px;  */
}

/* Style for the navigation links (a) */
header nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 10px;
    margin-left: 5px;
    font-size: 17px;
    font-family: var(--font-family, var(--fallback-font));
    transition: color 0.3s ease;
} 

/* Style for the navigation links on hover */
header nav ul li a:hover {
    background-color: var(--main-color, white);
    transition: background-color 0.3s ease;
}

#side-menu {
    display: none;
}

.hamburger {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px;
    cursor: pointer;
    z-index: 1;
    display: none;
}

.hamb-line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


main {
    background-color: white;
    /* padding: 20px 0px; */
    padding: 1.25rem 0;
}

/* footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
} */
footer {
    width: 100%;
    padding-top: 1.875rem;
    padding-bottom: 1.25rem;
    text-align: center;
    font-family: var(--font-family, var(--fallback-font));
    font-size: 0.9375rem;
}

#footer-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#footer-logo img {
    width: auto;
    /* height: 25px; */
    /* padding: 4px; */
    height: 1.5rem;
    padding: 0.25rem;
}

button {
    background-color: var(--button-color, var(--fallback-button-color));
    color: white;
    border-radius: 10px;
    /* padding: 5px 20px; */
    padding: 0.3rem 1.25rem;
    border: 0;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--button-color-hover, black);
}

/* Adjustments for the hamburger icon and menu on small screens */
@media screen and (max-width: 480px) {
    header h1 {
        font-size: 2rem;
        margin-top: 1.5rem;
        padding-top: 2rem;
    }
    header h3 {
        font-size: 1rem;
        padding-bottom: 2rem;
    }
    .hamburger {
        display: block;
        z-index: 2;
    }
    header nav {
        display: none;
    }
    header nav ul {
        float: left;
        max-height: 500px;
    }
    header nav ul li {
        display: block;
        margin: 10px 0;
        padding: 10px 0;
    }
    #side-menu:checked ~ .hamburger .hamb-line:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }
    #side-menu:checked ~ .hamburger .hamb-line:nth-child(2) {
        opacity: 0;
    }
    #side-menu:checked ~ .hamburger .hamb-line:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
    #side-menu:checked + label + nav {
        display: block;
        transition: all 0.3s ease;
        z-index: 1;
    }
}

/* Tablets or Restrictive Laptops */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    /* Modify styles for tablets/laptops */
    header h1 {
        font-size: 3rem;
        margin-top: 2.5rem;
        padding-top: 3.75rem;
    }
    header h3 {
        font-size: 1.25rem;
        padding-bottom: 3.75rem;
    }
}

/* Desktops */
@media screen and (min-width: 1025px) {
    /* Modify styles for desktops */
    header h1 {
        font-size: 3.75rem;
        margin-top: 3.75rem;
        padding-top: 3.75rem;
    }
    header h3 {
        font-size: 1.25rem;
        padding-bottom: 3.75rem;
    }
    /* Additional adjustments for other elements as needed */
}
