@import "styles.css";

main {
    background-color: var(--body-color, white);
}

.project {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.project-content {
    display: flex;
    flex-direction: column;
    margin: 10px 40px;
}

figure {
    margin: 10px 40px;
}

/* Very Small Screens (Phone) */
@media screen and (max-width: 480px) {
    .project {
        flex-direction: column;
    }
}

/* Tablets or Restrictive Laptops */
@media screen and (min-width: 481px) and (max-width: 1024px) {
   
}

/* Desktops */
@media screen and (min-width: 1025px) {
    
}