@import "styles.css";

/* Intro class css */
.intro {
    background-color: var(--main-color, white);
    /* padding: 20px; */
    /* padding: 2rem; */
    padding: 1.25rem 1.25rem 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro img {
    /* border-radius: 100px; */
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.info-content {
    /* background-color: var(--body-color, white); */
    /* padding: 10px 20px; */
    padding: 1rem 2rem;
    border-radius: 20px;
    margin: 20px;
    text-align: left;
    flex: 1;
    max-width: 800px;
    min-width: 500px;
}

.info-content h2 {
    margin: 0;
    padding: 0;
}

.info-content td {
    vertical-align: top;
}

.info-content h3 {
    margin: 0;
}

.info-content td p {
    margin: 0;
}

.info-content ol {
    margin: 0;
    padding-left: 20px;
}

aside {
    /* padding: 10px 20px; */
    padding: 1rem 2rem;
    background-color: var(--body-color, white);
    border-radius: 10px;
    width: 200px;
    font-style: italic;
}

/* Work class css */
.work {
    display: flex;
    justify-content: center;
    /* padding-top: 20px; */
    /* padding-bottom: 60px; */
    /* padding-top: 1.25rem; */
    /* padding-bottom: 3.75rem; */
    padding: 1.25rem 1.25rem 3.75rem;
    background-color: var(--body-color, white);
}

.work-content {
    background-color: var(--body-color, white);
    /* padding: 10px 20px; */
    padding: 1rem 2rem;
    margin: 40px;
    max-width: 800px;
    min-width: 500px;
    transition: padding 0.3s;
}

.resume {
    text-align: center;
    margin: 40px;
}

.resume iframe {
    border:1px solid black;
    height: 500px;
    width: 400px;
}

a.download-button {
    background-color: var(--button-color, var(--fallback-button-color));
    color: white;
    border-radius: 10px;
    padding: 0.3rem 1.25rem;
    border: 0;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

a.download-button:hover {
    background-color: var(--button-color-hover, black);
}

/* Skills class css */
.skills {
    background-color: var(--main-color, white);
    padding: 1.25rem 1.25rem 3.75rem;
    text-align: center;
}

.skills h2 {
    margin: 0;
    padding: 1.5rem;
}

.tables {
    display: flex;
    justify-content: center;
}

.tables table {
    background-color: white;
    /* padding: 10px; */
    padding: 1rem;
    margin: 20px;
}

.tables caption {
    font-size: 1.2em;
    font-weight: bold;
    background-color: white;
    /* padding: 10px; */
    padding: 1rem;
}

.tables th {
    color: #333;
    font-weight: bold;
    /* padding: 10px; */
    padding: 1rem;
}

.tables td {
    /* padding: 10px; */
    padding: 1rem;
}

.tables tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Very Small Screens (Phone) */
@media screen and (max-width: 480px) {

}

/* Tablets or Restrictive Laptops */
@media screen and (min-width: 481px) and (max-width: 1024px) {
   
}

/* Desktops */
@media screen and (min-width: 1025px) {
    
}
